<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title><%= basename %></title>
  </head>
  <body>
    <ul>
      <% files.forEach(function(file) { %>
        <li>
          <% if (['.mp4', '.mkv'].some(
            function(item) { return file.endsWith(item) })) { %>
            <a href="<%=file%>" target="_blank">
              <%=file%>
            </a>
          <% } else { %>
            <a href="<%=file%>">
              <%=file%>
            </a>
          <% } %>
        </li>
      <% }); %>
    </ul>
  </body>
</html>
